.vh-about {
  gap: 1.25rem;

  &>main {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: max-content;
    min-height: 5.5rem;
    border-radius: 0.5rem;
    background-color: var(--vh-white-color);
    box-shadow: var(--vh-box-shadow);
    overflow: hidden;

    &>h3 {
      box-sizing: border-box;
      padding: 0.88rem 0;
      width: 100%;
      height: max-content;
      font-size: 1.125rem;
    }

    &>.language-tool {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.56rem;
      width: 100%;
      max-width: 100%;
      height: max-content;

      &>a {
        width: max-content;
        max-width: 100%;
        height: 2rem;
        line-height: 1;
        overflow: hidden;
        transition: transform 0.18s ease-in-out;

        &>img {
          height: calc(100% - 1px);
          width: auto;
          object-fit: contain;
          border-bottom: 1px solid #2563eb;
        }

        &:hover {
          transform: translateY(-0.12rem);
        }
      }
    }
  }
}

.enfj-dom {
  margin: 1rem 0;
  position: relative;
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16rem;
  background: #fff;
  border: 1px solid #e3e8f7;
  border-radius: 12px;
  box-shadow: 0 8px 16px -4px rgba(44, 45, 48, 0.05);
  overflow: hidden;
  background: url('/assets/images/enfj.webp') no-repeat;
  background-size: 8.8rem auto;
  background-position: right 2rem;
  transition: all 0.36s;

  &:hover {
    background-position: right 1.6rem;
  }

  & > .text {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > em,
    & > span {
      padding: 0;
      margin: 0;
      font-size: 2rem;
      cursor: default;
      line-height: 2.6rem;
      font-style: normal;
    }

    & > span {
      font-weight: 700;
      color: #33a474;
    }

    & > a.more-enfj {
      margin-top: auto;
      color: #999 !important;
      font-size: 0.88rem !important;
      text-decoration: none !important;
    }
  }
}